html {
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
  border: 0px none #000000;
}

.Loader-Wrapper{
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  top: 50%;
}

#loader {
  position: absolute;
  z-index: 4;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}



/* start of navbar */
/* start of navbar */
/* start of navbar */
#navbar-wrapper {
  position: fixed;
  background-color: #212121;
  width: 100%;
  height: 100px;
  top: 0px;
  right: 0px;
  -webkit-box-shadow:0 0 20px blue; 
  -moz-box-shadow: 0 0 20px blue; 
  box-shadow:0 0 40px #5da3ee;
}

/* start of navbar logo */
#navbar-logo {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 14px;
  left: 35px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#navbar-logo img {
  width: 60px;
  height: 60px;
}

#navbar-logo:hover {
  cursor: pointer;
}

/* end of navbar logo */

/* start of title */
#navbar-header {
  position: relative;
  right: 2%;
  top: 14%;
  color: white;
  font-size: 300%;
  font-family: 'Roboto Mono', monospace;
  border: 0px;
  padding: 0px;
  margin: 0px;
  max-width: 600%;
  max-height: 20%;
}

/* end of title */

/* start of buttons */
#navbar-buttons {
  position: fixed;
  top: 16px;
  right: -60%;
  max-width: 50%;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#navbar-buttons a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 90%;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

#navbar-buttons a:hover {
  background-color: #ddd;
  color: black;
}

#navbar-buttons a.active {
  background-color: white;
  color: rgb(26, 26, 26);
}


@keyframes open{
  0% {right: 2px;}
  100% {right: 30%}
}
@keyframes openbuttons{
  0% {right: -60%}
  100% {right: 1%}
}
@keyframes close{
  0% {right: 30px;}
  100% {right: 2%}
}
@keyframes closebuttons{
  0% {right: 1%}
  100% {right: -60%}
}



#Navbar-Button{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  aspect-ratio: 1/1;
  height: 40%;
  right: 2%;
  border: 0px;
  top: 28%;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#Navbar-Button img{
  position: absolute;
  z-index: 10000;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

#navbar-cluster{
  background-color: #00DDEB;
  width: fit-content;
  height: fit-content;
  
}







/* end of navbar */
/* end of navbar */
/* end of navbar */


/* ^^^^^^^^^^^^^^^^^^^^ */
/* GLOBAL GLOBAL GLOBAL */














/* grid setup */
.main-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 10px;
  column-gap: 20px;
  background-color: transparent;
  padding: 10px;
  position: fixed;
  top: 120px;
  height: 87%;
  width: 100%;
  right: -80px;
  grid-template-rows: max-content;
}


.main-grid-container > div {
  background-color: #0d0d0d;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 5px;
  -webkit-box-shadow:0 0 20px blue; 
  -moz-box-shadow: 0 0 20px blue; 
  box-shadow:0 10px 40px #7a30c5;
  
}
/* grid setup */




/* announcement */
.main-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.main-item1 h2{
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.main-item1 p1{
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  margin-bottom: 10px;
}
/* announcement */





/* discord widget */
.main-item3 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 60%;
  background-color: transparent;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.script-discord-embedded{
  position: relative;
  margin:0%;
  padding:0%;
  top: -20px
}
/* discord widget */

.item-headers {
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}






.item1-div{
  height: 600px;
  justify-content: center;
}

.item1-div img{
  margin-top: 20px;
  width: 280px;
  height: 280px;
  border-radius: 5px;
}

.button-64 {
  position: relative;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  right: -15%;
  top: 10px;
}

#owl {
   position: absolute;
   right: 30%;
   top: 570px;
}

#youtube {
   position: absolute;
   right: 58.6%;
   top: 570px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}


.item2-div {
  justify-content: center;
}

.item2-div iframe{
  margin-top: 20px;
  margin: 0px;
  padding-top: 20px;
}




.item3-div {
  justify-content: center;
}


.item3-div img{
  margin-top: 20px;
  width: 400px;
  border-radius: 5px;
}


















/* Scripts page */
.Scripts-grid-container {
  display: grid;
  row-gap: 15px;
  column-gap: 40px;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  padding: 10px;
  position: fixed;
  top: 200px;
  margin-right: 10px;
  margin-left: 10px;
  width: 95%;
  height: 90%;
  text-align: center;
  left: 35px;
}

.Scripts-grid-item {
  background-color: #171717;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: fit-content;
  padding-top: 30px;
  min-height: 30%;
  border-radius: 5px;
}

.Scripts-grid-item img {
  position: relative;
  Height: 60%;
  width: 60%;
  left: -20px;
  bottom: -50px;
}

.Scripts-grid-item h3{
  margin:0%;
  padding: 0%;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}

.Scripts-grid-item button {
  position: relative;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  width: 30%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
}

.Scripts-grid-item button:hover {
  background-color: white;
  color: black;
}









/* infinite yield page */

.infiniteYield-left{
  background-color: #0f0f0f;
  position: fixed;
  left: 20px;
  margin: 0px;
  padding: 0px;
  top: 120px;
  width: 500px;
  height: 85%;
  border-radius: 7px;
  align-content: center;
  align-items: center;
  text-align: center;
  -webkit-box-shadow:0 0 20px blue; 
  -moz-box-shadow: 0 0 20px blue; 
  box-shadow:0 10px 40px #7a30c5;
}

.infiniteYield-left img{
  position: relative;
  top: 30px;
}

.infiniteYield-left h3{
  position: relative;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

.infiniteYield-left a{
  position: relative;
  color: #c9c9c9;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  top: -50px;
}

.infiniteYield-left button{
  position: relative;
  background-color: black;
  color: #c9c9c9;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  top: 20px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border-color: white;
  cursor: pointer;
}

.infiniteYield-left button:hover{
  background-color: #a3a3a3;
  color: #141414;
}

.infiniteYield-left p{
  color: #919191;
  font-family: 'Roboto Mono', monospace;
  width: 400px;
  position: relative;
  top: 100px;
}

.infiniteYield-context{
  background-color: #0f0f0f;
  position: fixed;
  right: 20px;
  height: 85%;
  top: 120px;
  width: 70%;
  -webkit-box-shadow:0 0 20px blue; 
  -moz-box-shadow: 0 0 20px blue; 
  box-shadow:0 10px 40px #7a30c5;
  border-radius: 7px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.youtube {
  background: red;
  margin: 5px;
}

.youtube:hover {
  background: maroon;
}

.infiniteYield-context iframe{
  position: relative;
  top: 40px;
}